<div class="container">
    <div>
        <h1 class="text-center">Filtered Games: {{selectedPlatform}}</h1>
    </div>
    <div class = "return">
        <button (click)="goBack()" class="btn btn-secondary mb-3">Regresar</button>
    </div>
    <div class="game-grid">
        @for (item of paginatedGames; track $index) {
            <a [routerLink]="['/game', item.formatted_id, item.title]" class="game-card-link">
                <div class="game-card">
                    <h2 class="game-title">{{item.title}}</h2>
                    <img class="game-image" [src]="item.image" [alt]="item.title">
                    <div class="game-info">
                        <p class="game-genre">Genre: {{item.genre}}</p>
                        <p class="game-price">Price: <span class="badge bg-success">{{item.price | price}}</span></p>
                    </div>
                    <div class="game-platforms">
                        <p>Available on:</p>
                        <ul class="horizontal-list">
                            @for (platform of item.platforms; track $index){
                                <li>
                                    <img class="platform-image" [src]="platform.icon" [alt]="platform.name">
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="pagination">
        @for (page of [].constructor(totalPages); track $index) {
            <button (click)="onPageChange($index + 1)" [class.active]="currentPage === $index + 1">
                {{ $index + 1 }}
            </button>
        }
    </div>
</div>